body {
  background-color: #003300;
  color: lightgreen;
}

a, a:visited {
  color: lightgreen;
}

.scope {
  line-height: 1.9;
}

.scope tt {
  background-color: white;
  color: #003300;
  padding: 10px;
}
